<main>
    <div id="block">
        <p><strong>{{roomName}}</strong> is not a room.</p>
    </div>
</main>

<link rel="stylesheet" type="text/css" href="http://localhost:8080/v/board/r/css" />
<script src="http://localhost:8080/v/board/r/js"></script>